global
        log /dev/log   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon

defaults
        log         global
        option      httplog
        option      dontlognull
        retries     3
        option      redispatch
        maxconn     2000
        contimeout  5000
        clitimeout  50000
        srvtimeout  50000
	    mode http

listen webfarm
	bind 192.168.0.1:80                 
	stats enable
	stats auth admin:admin
	acl url_test_dev path_beg /test.dev
	use_backend testdev if url_test_dev

backend testdev
	balance roundrobin
	server node1 192.168.0.10:80 check
    server node2 192.168.0.11:80 check