global
  maxconn 4096
  user haproxy
  group haproxy
  daemon

defaults
  mode http
  retries 3
  option redispatch
  option httpclose
  option http-server-close
  option forwardfor
  option abortonclose
  maxconn 2000
  timeout http-request 20
  timeout queue 86400
  timeout connect 5s
  timeout client 50s
  timeout server 50s
  timeout http-keep-alive 30
  timeout check 20

listen {{ APP }}stats
  bind          {{ IP }}:9009
  stats uri     /haproxy_stats
  stats realm   HAProxy\ Statistics
  stats auth    admin:@4dm1n
  stats admin if TRUE

frontend {{ APP }}
  bind {{ IP }}:80
  {% for domain in domains %}
  acl dominios hdr_dom(host) -m dom -i {{domain}}
  {% endfor %}
  acl rede_permitida src 0.0.0.0
  {% for app_name in apps %}
  use_backend {{ app_name }} if { hdr_reg(host) -i ^{{ app_name }}(|\d)\. }
  {% endfor %}
  